body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  color: #6a3a3a;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

.conteudo {
  padding: 60px 20px;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 2s;
}

h1 {
  font-size: 2.5em;
  color: #d63a4a;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin: 15px 0;
}

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: galeriaFadeIn 1.5s ease forwards;
  animation-delay: 3s;
}

.galeria img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

button {
  font-size: 1.1em;
  background-color: #ffffff;
  color: #d63a4a;
  border: 2px solid #d63a4a;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #d63a4a;
  color: rgb(188, 75, 75);
}

#coracoesCaindo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}

.coracao {
  position: absolute;
  color: #ff4d6d;
  font-size: 20px;
  animation: cair 4s linear forwards;
}

@keyframes cair {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes galeriaFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cortina {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #c44655, #c44655);
  z-index: 999;
  animation: abrirCortina 2s ease forwards;
}

.cortina.esquerda {
  left: 0;
  border-right: 2px solid #ff0000;
}

.cortina.direita {
  right: 0;
  border-left: 2px solid #ff0000;
}

@keyframes abrirCortina {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
